
ags-data-dict

public/
docs/_static/

example_files/ags4/*.json
example_files/ags4/*.js
example_files/ags4/*.yaml
example_files/ags4/*.xlsx

junk/


*.pyc

.idea/
.project
.pydevproject
.settings/
.geany
*.kate-swp
