{% set LOAD_EXT = True %}
{% extends "BASE.html" %}



{% block main %}




<script type="text/javascript" charset="utf-8" src="/js/ags/base_defs.js"></script>

<script type="text/javascript" charset="utf-8" src="/js/ags/abbrev/AbbrevItemsStore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/abbrev/AbbrevsStore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/group/GroupsStore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/group/HeadingsStore.js"></script>

<script type="text/javascript" charset="utf-8" src="/js/ags/stores_models.js"></script>

<script type="text/javascript" charset="utf-8" src="/js/ags/abbrev/AbbrevsGrid.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/abbrev/AbbrevView.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/group/GroupsGrid.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/group/HeadingsGrid.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ags/group/GroupView.js"></script>

<script type="text/javascript" charset="utf-8" src="/js/ags/MainViewport.js"></script>





<div id="widget_div" style="clear: both;"></div>

<script>

var AGS_VERSION = 4;

Ext.onReady(function(){

VP = Ext.create("ags.MainViewport", {});

});

</script>

{% endblock main %}
