{% set BOOTSTRAP = "/bootstrap-3.3.7" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="OGT Server">

    <link rel="icon" href="/images/favicon.ico">

    <title>{{ c.page_title }} | {{ c.site_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{BOOTSTRAP}}/css/bootstrap.min.css" rel="stylesheet">



    {% if LOAD_EXT %}
    <!-- EXTJS -->
    <link rel="stylesheet" type="text/css" href="/js/{{EXT_VER}}/resources/css/ext-all.css">
    {# <link rel="stylesheet" type="text/css" href="/css/resources/css/ext-all-gray.css"> #}
    <script type="text/javascript" charset="utf-8" src="/js/{{EXT_VER}}/ext-all.js"></script>
    {% endif %}

    <!-- Custom styles for this template -->
    <link href="/css/ags2go.1.css" rel="stylesheet">



</head>

<body>

<nav class="navbar navbar-inverse ddnavbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ c.site_name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for n in c.nav %}
                <li {%if n.url == c.url %}class="active"{% endif %}><a href="{{n.url}}">{{n.label}}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block main %}
<h1>Main Content</h1>

{% endblock main %}

<div class="container">
    <hr>

    <footer>
        <p>&copy; 2017 The developers.</p>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/js/jquery-1.11.2.min.js"></script>
<script src="{{BOOTSTRAP}}/js/bootstrap.min.js"></script>

</body>
</html>
