

{% extends "BASE.html" %}

{% block main %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>OGT Server</h1>
        <p>TODO</p>
        <p><a class="btn btn-success" href="/convert" role="button">Convert &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h2>Unofficial  AGS4 Data Dictionary</h2>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Browse</h2>
            <p>View the data dict in</p>
            <p><a class="btn btn-success" href="/ags4/widget" role="button">Widget &raquo;</a></p>
            <p><a class="btn btn-success" href="/ags4/groups" role="button">HTML Pages &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>JSON</h2>
            <p><a href="/ags4/groups.json">/ags4/groups.json</a></p>

        </div>

        <div class="col-md-4">
            <h2>Examples</h2>
            <p>Some example spreadsheets</p>
            <p><a class="btn btn-info" href="/examples" role="button">Go &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock main %}
