

{% extends "BASE.html" %}

{% block main %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Developers R&amp;D and experiments with the <a target="_ags_data" href="http://agsdataformat.com">AGS data format</a></h1>

        <ul>
        <li><a target="_ags" href="http://ags.org.uk">AGS</a> = <i><b>Association of Getotechnical &amp; Geoenviromental Specialists</b></i>
            <small> [<a target="_ags" href="http://ags.org.uk">ags.org.uk</a>] </small>
            </li>


        <li>The <b><a target="_ags_data" href="http://agsdataformat.com">AGS data format</a></b>  <small>
             [<a target="_ags_data" href="http://agsdataformat.com">agsdataformat.com</a>] </small>
            is defined and maintained
            by the AGS and is used extensively in geotechnical engineering, both UK and abroad.</li>

        <li>This site is an experimental playground, and researching mad's idea online microservice for machine to machine interaction</li>
        <li>This site has nothing to do with AGS as an organisation, is not endorsed etc. Instead,
            intended as a demo for feedback and future possibilities moving forward. Basically don't use or rely on this virtual machine, ever!</li>
        </ul>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>OFFICAL AGS Data</h2>
            <p>We are downstream from the "official upstream source" at http://www.agsdataformat.com/</p>
            <p><a class="btn btn-default" href="http://www.agsdataformat.com/" role="button">agsdataformat.com &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>AGS4 Data Dictionary</h2>
            <p>The AGS4 spec comes with prefiend groups/tabs, headings/columns and data formats units etc</p>
            <p><a class="btn btn-success" href="/widget" role="button">View Definitions &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Examples</h2>
            <p>Some example spreadsheets</p>
            <p><a class="btn btn-info" href="/examples" role="button">Go &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock main %}
